@using Domain.Shop
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="card card-primary  text-center">
    <div class="card-header">
  محصولات

    </div>

    <div class="card-body">
        <a class="btn btn-success" asp-action="create">بروزرسانی</a>


        <table class="table">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>عنوان</th>
                    <th>واحد</th>
                    <th>نام</th>
                    <th>تصویر</th>
                    <th>دسته بندی</th>
                </tr>

            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i </td>
                        <td>@item.title </td>
                        <td>@item.unit </td>
                        <td>@item.nickName </td>
                        <td>@item.iconImage </td>
                        <td>@item.Category.title </td>


                        @* <td> <a data-toggle="modal" data-target="#exampleModal" class="btn btn-info" onclick="View(@item.SystemMenuID)">ویرایش</a></td> *@


                        <td><a asp-action="Edit" asp-route-Id="@item.id" class="btn btn-info">ویرایش</a></td>
                        <td><a asp-action="Delete" asp-route-id="@item.id" onclick="return confirm('ایا از حذف اطمینان دارید؟')" class="btn btn-danger">حذف</a></td>


                    </tr>
                    i = i + 1;
                }

            </tbody>
        </table>

    </div>


</div>
