@using Domain.Shop
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="card card-primary  text-center">
    <div class="card-header">
دسته بندی
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-start">
        <a class="btn btn-success" asp-action="create">بروزرسانی</a>
        </div>
        
    
        <table class="table">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>کد</th>
                    <th>عنوان</th>
                    <th>توضیحات</th>
                    <th>تصویر</th>
                    <th>تاریخ تغییر</th>
                </tr>

            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i </td>
                        <td>@item.ApiId </td>
                        <td>@item.title </td>
                        <td>@item.description </td>
                        <td><img src="@item.iconImage" style="width:50px" />  </td>
                        <td>@item.modifiedOn </td>
                        <td><a asp-action="Edit" asp-route-Id="@item.id" class="btn btn-info">ویرایش</a></td>
                


                    </tr>
                    i = i + 1;
                }

            </tbody>
        </table>

    </div>


</div>
